name = "artdeco-api"
main = "functions/api/sendemail.js"
compatibility_date = "2025-01-21"

[env.production]
vars = { ENVIRONMENT = "production", PUBLIC_SITE_URL = "https://artdecopergola.com" }

