name = "artdecopergola"
compatibility_date = "2025-01-28"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "dist"

[env.production]
vars = { ENVIRONMENT = "production", PUBLIC_SITE_URL = "https://artdecopergola.com" }
