---
// This route will serve the Sanity Studio admin panel
// It should not be pre-rendered for SSR compatibility
export const prerender = false;

// Redirect to Sanity Studio
return Astro.redirect('https://artdeco.sanity.studio');
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sanity Studio</title>
  </head>
  <body>
    <div id="sanity"></div>
    <script type="module" src="/sanity-studio.js"></script>
  </body>
</html>
